[type="button"] {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;

  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--title-color);
  background-color: #f5f4fa;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

[type="button"]:last-child {
  margin-right: 0;
}

.port-filter-item {
  margin-right: 8px;
  border-radius: 4px;
}

.port-filter-item:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.port-filter-item:last-child {
  margin-right: 0;
}

[type="button"]:hover,
[type="button"]:focus {
  color: #ffffff;
  background-color: var(--hover-color);
  cursor: pointer;
}

.port-filter-item > button {
  border: none;
  border-radius: 4px;
}

.port-filter {
  margin-top: 94px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  margin-right: 30px;
  margin-bottom: 30px;
  width: calc((100% - 60px) / 3);
}

.portfolio-item > div {
  position: relative;
  overflow: hidden;
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 94px;
}

.portfolio-item img {
  max-width: 370px;
}

.portfolio-wrap {
  padding: 20px 24px;
}
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.backdrop-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-text > p {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;

  letter-spacing: 0.03em;

  color: var(--big-title-color);
}

.portfolio-item:hover .backdrop-text,
.portfolio-item:focus .backdrop-text {
  transform: translateY(0);
}

.portfolio-works {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.88;
}
